.header-container {
  display: flex;
  flex-direction: column;
}

.options-user {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
  position: absolute;
  right: 20px;
  top: 95px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #e3e3e3;
  width: 300px;
}

.btn-options-user {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 10px;
  margin-bottom: 1px;
  text-align: left;
  font-size: 15px;
  color: #686868;
  transition: all 0.2s ease;
}

.btn-options-user:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  transition: all 0.2s ease;
}

.btn-options-user p {
  margin-left: 15px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  height: 100vh;
  width: 0;
  border-top: 1px solid #aaa;
  border-radius: 0 0 30px 0;
  background-color: #004e64;
  color: #e3e3e3;
  opacity: 0;
  pointer-events: none;
  transition: all .2s linear;
}

.sidebar.hide {
  overflow: hidden;
  width: 245px;
  opacity: 1;
  pointer-events: visible;
  transition: all .2s linear;
}

.logo-content {

}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 30px;
  padding: 20px;
}

.logo-name {
  margin-left: 15px;
}

.nav-list {

}

.find-call {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  color: #444;
}

.btn-menu-item {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border: none;
  font-size: 16px;
  min-width: 245px;
  font-weight: bold;
  background-color: transparent;
  color: #e3e3e3;
  transition: all 0.3s ease;
}

.btn-menu-item:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  color: #004e64;
  transition: all 0.3s ease;
}

.menu-label {
  margin-left: 20px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  background-color: #004e64;
  color: #e3e3e3;
  height: 80px;
  width: 100%;
}

.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #999;
}

.header-bottom-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 20%;
  padding: 16px;
  background-color: transparent;
  color: #e3e3e3;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.header-bottom-item:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  color: #004e64;
  transition: all 0.3s ease;
}

.btn-menu {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.btn-menu:hover {
  cursor: pointer;
  background-color: #1565c0;
  transition: all 0.2s ease;
}

.search-call-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 125px;
  width: 290px;
  font-size: 16px;
}

.btn-filter-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  color: #ddd;
  background-color: transparent;
  transition: all .6s ease;
}

.btn-filter-header.hide {
  pointer-events: visible;
  opacity: 1;
  transition: opacity .6s linear;
}

.btn-filter-header:hover {
  cursor: pointer;
  background-color: #fff;
  color: #004e64;
  transition: all 0.3s ease;
}

.btn-search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  color: #e3e3e3;
  background-color: #004e64;
  font-size: 20px;
  transition: all 0.3s ease;
}

.btn-search-header:hover {
  cursor: pointer;
  color: #004e64;
  background-color: #e3e3e3;
  transition: all 0.3s ease;
}

.find-call-header-input {
  padding: 10px 10px 10px 20px;
  height: 40px;
  width: 0;
  border: none;
  border-radius: 30px;
  outline: none;
  color: #e3e3e3;
  background-color: #004e64;
  pointer-events: none;
  transition: width 0.3s ease;
}

.find-call-header-input.hide {
  width: 70%;
  pointer-events: visible;
  transition: width 0.3s linear;
}

.user {
  display: flex;
}

.btn-user {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn-user:hover {
  cursor: pointer;
}

.btn-user img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}