.subsector-container {
  background-color: #e3e3e3;
}

.body-subsector {
  display: flex;
  flex-direction: column;
  margin: 40px;
  border: 1px solid #aaa;
  border-radius: 15px;
  min-height: 100vh;
}

.top-body-subsector {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1565c0;
  color: #e3e3e3;
  font-weight: bold;
  font-size: 16px;
  border-radius: 14px 14px 0 0;
  height: 40px;
  width: 100%;
}

.mid-body-subsector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.item-subsector {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #1565c0;
  border-radius: 8px;
  background-color: transparent;
  color: #1565c0;
}

.item-subsector:hover {
  background-color: #e9e9e9;
  font-weight: bold;
  transition: font-weight 0.2s ease;
}